# Byte-compiled / optimized / DLL files
build/
__pycache__/

# c extensions
*.so

*.dat

*.swp

~$*.pptx

records/Matlab/*.np
records/Matlab/*.mat
IgnoreMAT*/
RML2016.10a*/
Dataset*/
records/Perturbation_Dataset_impl/*.dat
records/Perturbation_Dataset_impl/*.npy
records/Perturbation_Dataset_impl/*.pkl

records/New_dataset_May/*.zip

*.pkl

*.tar
*.tar.bz2

# Matlab cache
*.asv
